body {
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", "sans-serif";
  color: #333333;
  background-color: #f2f2f2;
  background-size: 1280px auto;
}

.container {
  width: 1200px;
  margin: auto;
  margin-left: 40px;
  margin-right: 40px;
  min-height: 2762px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  min-height: 56px;
}

.main-navigation {
  display: block;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 56px;
  background-color: #ffffff;
}

.main-navigation-block {
  width: 1056px;
  margin-left: 73px;
}

.main-navigation-item {
  float: left;
  padding-top: 22px
}

.header-logo {
  width: 140px;
  min-height: 70px;
}

.main-image {
  min-height: 510px;
}

.main-description {
  display: block;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 216px;
  background-colour: #ffffff;
}

}
.main-description-copy {
  float: left;
  width: 441px;
  min-height: 45px;
  margin: 60px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.reason {
  font-weight: bold;
  font-size: 21px;
  color: #000000;
}

.reason-background {
  display: block;
  min-height: 256px;
}

.interest-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: #000000;
}

.search-hotel-sedona {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
}

.hotel-search-title {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
}

.main-reasons-photo {
  width: 800px;
  height: 256px;
  background-image: url("../img/index-background-one.jpg");
}

.reasons-photo-two {
  background-image: url("../img/index-background-two.jpg");
}
