body {
  width: 1280px;
  margin: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", "sans-serif";
  color: #333333;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: auto;
  background-color: #ffffff;
}

.main-navigation-block {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-description {
  padding-top: 54px;
  padding-bottom: 52px;
}

.main-description-copy {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.five-reasons {
  margin-top: 31px;
  text-align: center;
}

.reason-background {
  display: flex;
}

.reason {
  width: 130px;
  margin: 0 auto;
  margin-top: 51px;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  color: #000000;
}

.main-reasons {
  width: 400px;
}

.main-reasons-photo {
  display: flex;
  width: 800px;
  height: 255px;
}

.recommend-text-block {
  display: flex;
  padding-top: 109px;
  padding-bottom: 82px;
}

.reasons-photo-two {
  order: -1;
}

.reason-text {
  display: flex;
  padding-bottom: 60px;
  background-color: #eeeeee;
}

.recommend {
  width: 400px;
}

.recommend-body {
  text-align: center;
  margin-top: 20px;
}

.reason-number {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.reason-why {
  text-align: center;
}

.main-reasons-photo {
  width: 800px;
  height: 256px;
  background-image: url("../img/index-background-one.jpg");
}

.reasons-photo-two {
  background-image: url("../img/index-background-two.jpg");
}

.interest {
  padding-top: 54px;
}

.interest-title {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.interest-body {
  width: 443px;
  margin: 0 auto;
  margin-top: 31px;
  margin-bottom: 48px;
  text-align: center;
}

.search-hotel-sedona {
  display: block;
  width: 568px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  text-align: center;
}

.form-hotel-search {
  width: 568px;
  margin: 0 auto;
}

.hotel-search {
  margin: 55px;
}

.form-parameter {
  display: flex;
  margin-bottom: 20px;
}

.hotel-search-date,
.form-quantities-number {
  margin-left: 20px;
}

.form-quantities {
  display: flex;
}

.interest-button {
  box-sizing: border-box;
  padding-top: 35px;
}

.btn-find {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 193px;
  padding-right: 193px;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
}

.selection-block {
  min-height: 219px;
  background-image: url("../img/hotels-search-background.jpg");
}

.hotel-search-title {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.tick-box {
  display: flex;
  justify-content: space-around;
  padding-top: 27px;
  padding-bottom: 30px;
}

.tick-box-title,
.tick-box-item,
.range-number,
.range-number-text {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: transparent;
}

.label-input {
  margin-top: 27px;
}

.show-result-button {
  padding-left: 88px;
  padding-right: 95px;
  padding-top: 10px;
}

.btn-show {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 37px;
  padding-right: 37px;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent;
}

.range-numbers {
  padding: 10px;
}

.filter-signs {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 73px;
  padding-right: 73px;
}

.search-result {
  display: flex;
  padding-left: 73px;
  padding-right: 73px;
}

.filters {
  padding-left: 15px;
}

.filter {
  margin-left: 29px;
}

.filter-arrows {
  width: 20px;
  height: 20px;
  margin-left: 494px;
  background: black;
}

.search-result-info {
  padding-left: 15px;
}

.search-result-type {
  display: inline-block;
  justify-content: space-between;
}

.search-result-hotel-photo {
  margin: 0;
}

.search-result-name {
  margin: 0;
}

.search-result-ranking {
  padding-left: 512px;
}

.main-footer {
  display: flex;
  padding-top: 36px;
  padding-bottom: 36px;
}

.hashtag {
  width: 400px;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.social-media {
  width: 400px;
  text-align:center;
}

.developer {
  width: 400px;
}

.developer-logo {
  display: inline-block;
  vertical-align: middle;
}

.map-outline {
  width: 1200px;
  height: 593px;
  background-image: url("../img/map.png");
}
